@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap');


body{
    background-color: #F0EAFF;
}

.perfilCliente .content-perfilCliente{
    height: 100%;
    margin-top: 4rem;
    width: 70vw;
}

.content-perfilCliente .content-superior{
    background-color: #A484E8;
    height: 28vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
}

.content-inferior {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 58vh;
}

.content-perfilCliente .content-superior .name{
    font-family: 'Playfair Display', serif;
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 50px;
    margin-right: 50px;
}

.dados .title{
    font-family: 'Playfair Display', serif;
    color: #281161;
    font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dados label{
    font-weight: bold;
}

.dados li{
    font-size: 18px;
}

.content-perfilCliente .text-right{
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.text-right .btn{
    background-color: rgb(216, 210, 210);
    width: 20vw;
    border-radius: 10px;
}

.content-perfilCliente .dividir{
    display: flex;
    justify-content: space-around;
}

.content-perfilCliente .btn:hover{
    border: none;
    background-color: rgb(216, 210, 210);
    color: yellow;
}

/* .content-perfilCliente .content-superior{
    background-color: #281161;
} */


@media screen and (min-width: 250px) and (max-width: 499px) {
   
    .perfilCliente .content-perfilCliente{
        margin-top: 0;
        width: 100%;
    }

    .perfilCliente{
        height: 500px;
    }

    .content-perfilCliente .content-superior .name{
        margin-bottom: 0.5rem;
        font-size: 24px;
        margin-right: 0rem;
        margin-bottom: 0;
        margin-left: 5rem;
    }

    .content-perfilCliente .imagePerfil{
        width: 25vw;
        height: 25vw;
    }

    .content-perfilCliente .content-superior{
        height: 20vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .content-inferior {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
    }

    .content-perfilCliente .dividir{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-perfilCliente .text-right .btn{
        background-color: rgb(216, 210, 210);
        width: 60vw;
        border-radius: 10px;
        margin-top: 10rem;
    }

    .content-perfilCliente .dados .title{
        font-size: 32px;
    }

    .dados{
        margin-top: 1rem;
    }

   .content-perfilCliente .dados li{
        margin-top: 1rem;
        font-size: 20px;
    }

    .content-perfilCliente .text-right{
        height: 8vh;
        width: 100%;
        margin-top: 7rem;
        padding-bottom: 5rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
   
    .perfilCliente .content-perfilCliente{
        margin-top: 0;
        width: 100%;
    }

    .perfilCliente{
        height: 500px;
    }

    .content-perfilCliente .content-superior .name{
        margin-bottom: 0.5rem;
        font-size: 24px;
        margin-right: 0rem;
        margin-bottom: 0;
        margin-left: 6rem;
    }

    .content-perfilCliente .imagePerfil{
        width: 30vw;
        height: 30vw;
    }

    .content-perfilCliente .content-superior{
        height: 20vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .content-inferior {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
    }

    .content-perfilCliente .dividir{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-perfilCliente .text-right .btn{
        background-color: rgb(216, 210, 210);
        width: 60vw;
        border-radius: 10px;
        margin-top: 10rem;
    }

    .content-perfilCliente .dados .title{
        font-size: 32px;
    }

    .dados{
        margin-top: 1rem;
    }

   .content-perfilCliente .dados li{
        margin-top: 1rem;
        font-size: 20px;
    }

    .content-perfilCliente .text-right{
        height: 8vh;
        width: 100%;
        margin-top: 7rem;
        padding-bottom: 5rem;
    }
}