@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');


.agendarConsulta{
    width: 75vw;
    height: 95vh;
    border-radius: 30px;
}

.content-agendarConsulta .title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: -0.3rem;
}

.agendarConsulta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content-agendarConsulta img{
    width: 7vw;
    height: 13vh;
}

.content-agendarConsulta .agendamento textarea{
    resize: none;
    height: 20vh;
}
