
 @import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

 body{
    font-family: 'Roboto', sans-serif;
 }

 .subtitle{
   font-family: 'Kumbh Sans', sans-serif;
 }

 .title{
   font-family: 'Kumbh Sans', sans-serif;
 }

 .main{
  background: rgb(188,158,255);
  background: linear-gradient(200deg, rgba(188,158,255,1) 13%, rgba(185,151,253,1) 45%, rgba(171,116,243,1) 81%);
 }