
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

 body{
   font-family: 'Maven Pro', sans-serif;
 }


 .navbar{
  background-color: #442980;
  font-family: 'Kumbh Sans', sans-serif;
 }

 .navbar .enter{
  margin-left: 200px;
 }

 .navbar li:hover{
   color:#f2c4f2;;
 }

 .start{
  background: rgb(164,132,232);
  background: linear-gradient(20deg, rgba(164,132,232,1) 47%, rgba(189,158,255,1) 86%);
}

.start p{
font-family: 'Maven Pro', sans-serif;
}

.start button{
  font-size: 22px;
  color: #442980;
  font-family: 'Kumbh Sans', sans-serif;

  margin-left: 0.4rem;
}

 .start button:hover{
  color: #fff;
  background-color: #442980;
 }


 .start img{
  margin-left: -7rem;
  margin-bottom: -5rem;
  width: 600px;
 }

 .content_project, .content_project2, .team {
  background-color: white;
 }

 .content_project .title{
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 600;

  margin-left: 2.8rem;
  margin-bottom:2.5rem;
 }

 .content_project p {
  font-size: 20px;
  margin-left: 3.5rem;
  width: 450px;
 }


 .content_project2 .title{
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  font-weight: 600;

  margin-bottom:2.5rem;
 }

 .content_project2 .p {
  font-size: 20px;
  margin-right: 3.5rem;
  margin-left: 0.5rem;
  width: 472px;
 }

 .content_project2{
  margin-top: -5rem;
 }

 .container{
  background: rgb(164,132,232);
  padding-bottom: 5rem;
  color: #fff;
 }

 .aboutUs{
  display: flex;
  justify-content: center;
 }


 .content_aboutUs .content{
  display: flex;
  justify-content: space-around;
 }

 .content_aboutUs .text_aboutUs{
   width: 60vw;

   margin-top: 12rem;
   padding-left: 5rem;
   font-size: 23px;
   
 }


 .content_aboutUs .title {
  font-family: 'Playfair Display', serif;
  font-size: 55px;
  color: white;
  text-align: center;
 }

 .content_aboutUs img{
  width: 350px;
  height: 350px;

  margin-top: 7rem;
  margin-left: 2rem;
  border-radius: 10px;
 }


 .text_content{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
 }

 .text_content .values{
  margin-left: 3rem;
  margin-right: 3rem;
 }

 .content_aboutUs p{
  font-size: 20px;
 }

 .content_aboutUs h3{
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  margin-left: 45rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  color: white;
  font-weight: bold;
 }

 .content_aboutUs h4 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
 }

 .team .name{
  font-weight: bold;
  font-size: 20px;
 }

 #project{
  background-color: white;
 }

 /* .teste1 {

	animation-duration: 3s;
	animation-iteration-count: unset;
  animation-name: anim-1;
}


@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
} */