@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap');


body{
    background-color: #F0EAFF;
}

.perfilPsicologo .content-perfilPsicologo{
    height: 100%;
    margin-top: 4rem;
    width: 70vw;
}

.content-perfilPsicologo .content-superior{
    background-color: #A484E8;
    height: 28vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1rem;
}

.content-perfilPsicologo .content-inferior {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 60vh;
}

 .content-superior .name{
    font-family: 'Playfair Display', serif;
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 40px;
}

.content-perfilPsicologo .dados .titlee{
    font-family: 'Playfair Display', serif;
    color: #281161;
    font-size: 30px;
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1.5rem;
}

.dados{
    display: flex;
    flex-direction: column;
}

.dados label{
    font-weight: bold;
}

.dados li{
    font-size: 18px;
    padding-top: 5px;
}

.dados .content-dados{
    width: 28vw;
}

.content-perfilPsicologo .apresentation{
    margin-top: 0;
    padding-right: -10rem;
}

.content-perfilPsicologo .apresentation .content-apresentation .title{
    color: black;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
    text-align: left;
    font-weight: bold;
    margin-top: -0.9rem;
    margin-bottom: 0;
    margin-left: 2rem;
}

.apresentation .content-apresentation p{
    text-align: left;
    width: 30vw;
    margin-left: 2rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.dados .content-dados{
    margin-left: 1.5rem;
}

.center .btn{
    background-color: rgb(216, 210, 210);
    width: 20vw;
    border-radius: 10px;
}

.content-perfilPsicologo .dividir{
    display: flex;
}

.content-perfilPsicologo .btn:hover{
    border: none;
    background-color: rgb(216, 210, 210);
    color: yellow;
}

@media screen and (min-width: 250px) and (max-width: 499px) {
   
    .perfilPsicologo .content-perfilPsicologo{
        margin-top: 0;
        width: 100%;
        height: 115vh;
    }

    .perfilPsicologo  .content-perfilPsicologo .content-superior .name{
        margin-bottom: 0.5rem;
        font-size: 25px;
        margin-right: 0rem;
        margin-bottom: 0;
        margin-left: 7rem;
        width: 49vw;
    }

    .perfilPsicologo .content-perfilPsicologo .imagePerfil{
        width: 25vw;
        height: 25vw;
    }

    .perfilPsicologo .content-perfilPsicologo .content-superior{
        height: 20vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .content-inferior {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .perfilPsicologo .content-perfilPsicologo .dividir{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-perfilPsicologo .center{
        height: 10vh;
    }

    .perfilPsicologo .content-perfilPsicologo .center .btn{
        background-color: rgb(216, 210, 210);
        width: 60vw;
        border-radius: 10px;
    }

    .dados .content-dados{
        width: 80vw;
        margin-left: 0;
    }

    .perfilPsicologo  .content-perfilPsicologo .dados .title{
        font-size: 32px;
    }

    .dados{
        margin-top: 1rem;
    }

    .perfilPsicologo .content-perfilPsicologo .dados li{
        margin-top: 1rem;
        font-size: 20px;
    }

    .perfilPsicologo .content-perfilPsicologo .apresentation{
        height: 8vh;
        width: 100%;
        margin-top: 7rem;
        padding-bottom: 5rem;
    }

    .content-perfilPsicologo .apresentation .content-apresentation .title{
        font-size: 20px;
        margin-top: -5rem;
        margin-bottom: 0;
        margin-left: 0;
    }
    
    .apresentation .content-apresentation p{
        text-align: left;
        width:  80vw;
        margin-left: 0;
    }

    .apresentation .content-apresentation{
        margin-left: 0.6rem;
    }

    
}


@media screen and (min-width: 500px) and (max-width: 750px) {
   
    .perfilPsicologo .content-perfilPsicologo{
        margin-top: 0;
        width: 100%;
    }

    .perfilPsicologo{
        height: 500px;
    }

    .content-perfilPsicologo .content-superior .name{
        margin-bottom: 0.5rem;
        font-size: 24px;
        margin-right: 0rem;
        margin-bottom: 0;
        margin-left: 10rem;
    }

    .content-perfilPsicologo .imagePerfil{
        width: 30vw;
        height: 30vw;
    }

    .content-perfilPsicologo .content-superior{
        height: 20vh;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .content-inferior {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 100%;
    }

    .content-perfilPsicologo .dividir{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-perfilPsicologo .apresentation .btn{
        background-color: rgb(216, 210, 210);
        width: 60vw;
        border-radius: 10px;
        margin-top: 10rem;
    }

    .content-perfilPsicologo .dados .title{
        font-size: 32px;
    }

    .dados{
        margin-top: 1rem;
    }

   .content-perfilPsicologo .dados li{
        margin-top: 1rem;
        font-size: 20px;
    }

    .content-perfilPsicologo .apresentation{
        height: 8vh;
        width: 100%;
        margin-top: 7rem;
        padding-bottom: 5rem;
    }
}