@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

body{
    font-family: 'Maven Pro', sans-serif;
    background-color: #B9A3FF;
}

.content{
    width: 70vw;
    height: 95vh;
    border-radius: 60px;
}

.content .title{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: #281161;
    font-weight: bold;
}

.content input{
    border-radius: 5px;
    width: 280px;
    height: 40px;
}

.content .content_inputs1{
  margin-left: 1.5rem;
}

.content_inputs1 h2{
    color: #281161;
    font-size: 18px;
}

.content_inputs1 .name{
  width: 730px;
}
.content .content_inputs2{
  position: relative;
  margin-left: 2rem;
  padding-top: 9rem;
}

.content_inputs2 h2{
    color: #281161;
    font-size: 18px;
}

.containeer{
   margin-left: 2rem;
}