@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap');

button{
    background-color: #281161;
    width: 290px;
    padding: 8px;
    border-radius: 5px;
    color:white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    
}
