@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500&display=swap');

.content-cadastro{
    height: 95vh;
    width: 65vw;
    border-radius: 30px;
}

.content-cadastro .title{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #281161;
    margin-top: 1rem;
}

.content-form input{
  border-radius: 5px;
  border: black solid 1px;
}

.content-form #nome{
   width: 57.5vw;
}

.content-form h2{
    color:#281161;
}

.content-form .content2{
    margin-top: 6rem;
    height: 100%;
    /* border: red solid 2px; */
}

.form .btn{
    margin-top: -2rem;
    background-color: #281161;
    width: 23vw;
    border-radius: 5px;
    font-family: 'Kumbh Sans', sans-serif;
}

.btn:hover{
    background-color: #fff;
    border: #281161 solid 2px;
    color: #281161;
}

.exiit{
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
}

.content-formImage input{
    margin-top: 5rem;
    height: 25vh;
    text-decoration: none;
    background-color: #281161;
    border: red solid 1px;
}


@media screen and (min-width: 250px) and (max-width: 650px){

    .content-cadastro{
        height: 100%;
        width: 100%;
    }

    .content-form{
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 1rem;
    }

    .content-cadastro .title{
        font-size: 30px;
        margin-top: 4rem;
    }
    
    .content-form input{
      width: 75vw;
    }
    
    .content-form #nome{
       width: 75vw;
    }

    .content-form .content2{
        height: 50vh;
        margin-top: 24rem;
        margin-left: 0;
        position: absolute;
        /* border: red solid 1px; */
    }
    
    .form .btn{
        width: 50vw;
        margin-top: 16rem;

    }

    .exiit{
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;
    }


}

@media screen and (min-width: 651px) and (max-width: 750px){
    .content-cadastro{
        height: 100vh;
    }
}

